// Style guide
// ------------------

@mixin nav-font {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600 !important;
    font-style: italic;
    letter-spacing: 0.08rem;
    color: $secondary;
}

@mixin home-h2-font {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: $white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

@mixin home-event-date {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $primary;
}

@mixin home-event-country {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: normal;
    line-height: 1rem;
    text-transform: uppercase;
    color: $secondary;
}

@mixin home-event-title {
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: $secondary;
    line-height: 1.5rem;
}

@mixin section-h3-font {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: $secondary;
    padding-top: 2rem;
}
@mixin section-h4-font {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: $black;
}

@mixin h5 {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.05rem;
    color: $black;
}

@mixin section-body-font {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-family: "Lora", serif;
    font-weight: normal;
    font-style: normal;
    color: $black;
}

@mixin footer-headings-font {
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: $white;
}

@mixin footer-links-font {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: $black;
}

@mixin button-font {
    font-size: 1rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600 !important;
    font-style: italic;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: $primary;
}

// .fixed-h2 {
//   position: absolute; /* absolute position (so we can position it where we want)*/
//   bottom: 0%; /* position will be on bottom */
//   left: 0%;
//   background-color: $white;
//   opacity:0.9; /* transparency */
//   filter: alpha(opacity=60);
// }

$pg-nav: "Barlow Semi Condensed", sans-serif;
$pg-headings: "Barlow Condensed", sans-serif;
$pg-sub-headings: "Barlow Semi Condensed", sans-serif;
$pg-caption: "Barlow Semi Condensed", sans-serif;
$pg-body: "Lora", serif;


// 2. Base Typography
// ------------------

$header-font-family: $pg-headings;
$header-font-weight: $global-weight-bold;
$header-font-style: italic;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-color: inherit;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;
$cite-pseudo-content: '\2014 \0020';
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 5. Typography Helpers
// ---------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-bold;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;
