.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(200);

  @include breakpoint(medium) {
    height: rem-calc(250);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(350);
  }
}

.featured-cover {
  .featured-hero {
    height: rem-calc(200);

    @include breakpoint(medium) {
      height: rem-calc(400);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(500);
    }
  }
}

.home-posts {
  .featured-hero {
    height: rem-calc(200);

    @include breakpoint(medium) {
      height: rem-calc(300);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(400);
    }
  }
}

.single-post {
  .featured-hero {
    background-size: cover;
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    height: rem-calc(300);

    @include breakpoint(medium) {
      height: rem-calc(350);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(550);
    }
  }
}
