.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(300);

  @include breakpoint(medium) {
    height: rem-calc(350);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(550);
  }
}

.featured-cover {
  .featured-hero {
    height: rem-calc(200);

    @include breakpoint(medium) {
      height: rem-calc(400);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(800);
    }
  }
}

.home-posts {
  .featured-hero {
    height: rem-calc(200);

    @include breakpoint(medium) {
      height: rem-calc(300);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(400);
    }
  }
}
