.single-post {
  .main-grid {
    margin-top: 0 !important;
  }
  .featured-hero {
    margin-top: 2rem;
  }
}

.main-content-article {
  @include breakpoint(small) {
  @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(12);
  }

  h1 {
    @include article-title-font;
  }

  p {
    @include article-body-font;
    @include grid-column-position(center);
  }
  p:first-child {
    font-size: 28px;
    font-weight: 800;
    line-height: 2.25rem;
    text-align: justify;
    max-width: 850px;
    padding-bottom: 3rem;
  }
  p:not(:first-child) {
    max-width: 740px;
  }
  p > img {
    @include grid-column(12);
    @include grid-column-position(center);
    height: rem-calc(200);
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint(medium) {
      height: rem-calc(300);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(400);
    }
  }
}

.article-sponsor {
  @include grid-column-position(center);
  padding-top: 3rem;
  padding-bottom: 3rem;
  h5 {
    @include h5
    text-align: center;
  }
  a {
    display: block;
    height: 3rem;
    width: 100%;
  }
  img {
    height: inherit;
  }
}

article.story-article {
  @include grid-column-position(center);
  @include grid-column(8);

  .entry-title {
    text-align: center;
  }
}
