.main-grid {
  @include grid-row;
  @include grid-column(12);
  @include grid-column-position(center);

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include grid-column(12);
  }

  // Default template
  .main-content {
      @include breakpoint(small) {
      @include grid-column(12);
      }

      @include breakpoint(medium) {
        @include grid-column(12);
      }
      h2.entry-title a {
        @include home-h2-font;
      }
    }
    article {
      margin-bottom: 2rem;
    }
  }

  .section-title {
    @include grid-column(12);
    margin-bottom: 2rem;
    h3 {
    @include section-h3-font;
    }

  .sidebar {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
      margin-top: 1rem;
    }

  }
}

// home
.featured-hero {
  position: relative;
  overflow: hidden;

  .fixed-home-title {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.75em 1em;
    z-index: 2;
  }

.featured-cover {
  @include grid-column(12);
  }
}
.home-posts {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @include breakpoint(large) {
    @include grid-column(8);
  }
  @include grid-column(12);
}

.home-events {
  @include grid-row;
  @include breakpoint(large) {
    @include grid-column(4);
  }

  @include grid-column(12);

  button {
    @include grid-column-position(center);
    display:block;
    float: left;
  }

  ul {
    @include grid-column(12);
    padding:0 !important;
    li.single-event {
      list-style-type: none;
      display: block;
      height: 8rem;
      a {
        display: block;
        width: 100%;
        height: inherit;
        padding: 0;
      }
      p {
        margin-bottom: 0 !important;
      }
    }
  }
}

p.event-date {
  @include grid-column(3);
  padding-left: 0 !important;
}
span.event-day {
  @include home-event-date;
  font-size: 65px;
  line-height: 3rem !important;
  height: inherit;
}
span.event-month {
  @include home-event-date;
  font-size: 36px;
  line-height: 1.5rem !important;
  height: inherit;
}
p.event-meta {
  @include grid-column(9);
  padding-left: 0 !important;
  span {
    @include grid-column(12);
    height: inherit;
    padding: 0 !important;
  }
}
span.event-country {
  @include home-event-country;
}

span.event-title {
  @include home-event-title;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  height: 52px !important;
}

span.event-venue {
  @include home-event-country;
}

.paddlers-section {
  @include grid-column(12);
}

.paddlers-cover {
  @include breakpoint(large) {
    @include grid-column(8);
  }
  @include grid-column(12);
}

.paddlers-list {

  article {
    @include breakpoint(large) {
      @include grid-column(4);
    }
    @include grid-column(12);

    margin-bottom: 0 !important;
    h4 a {
    @include section-h4-font;
    }
    p {
    @include section-body-font;
    }
  }
}


.rectangle-block {
  display: block;
  float: left;
  width: grid-column(12);
  height: 400px;
  background-color: #ccc;
}
