.main-grid {
  @include grid-row;
  @include grid-column(12);
  @include grid-column-position(center);

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include grid-column(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
    @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(12);
    }
    h2.entry-title a {
      @include home-h2-font;
    }
    .section-title {
      @include grid-column(12);
      margin-bottom: 2rem;
      h3 {
      @include section-h3-font;
      }

      span.section-divider {
        display: block;
        float: left;
        width: 20rem;
        border-bottom: 0.3rem solid $black;
      }
    }
    article {
      margin-bottom: 2rem;
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
      margin-top: 1rem;
    }

  }
}

// home
.featured-cover {
  @include grid-column(12);

}
.home-posts {
  @include breakpoint(large) {
    @include grid-column(8);
  }
  @include grid-column(12);
}

.home-events {
  @include breakpoint(large) {
    @include grid-column(4);
  }

  @include grid-column(12);
}

.paddlers-section {
  @include grid-column(12);
}

.paddlers-cover {
  @include breakpoint(large) {
    @include grid-column(8);
  }
  @include grid-column(12);
}

.paddlers-list {
  @include breakpoint(large) {
    @include grid-column(4);
  }
  @include grid-column(12);
}


.rectangle-block {
  display: block;
  float: left;
  width: grid-column(12);
  height: 400px;
  background-color: #ccc;
}
