footer.footer {
  background-color: #336699;
}

.footer-wrapper {
  background-color: #2293D1;
  width: 100%;
}

.footer-logo {
  @include grid-column-position(center);
  @include grid-column(3);
  padding: 1.4rem;
}

.footer-container {
  @include grid-row;
  // margin-top: rem-calc(60);
}

.footer-grid {
  @include grid-column(12);
  padding: rem-calc(30) 0;

  section {
    @include grid-column(12);
  }

  ul {
    @include grid-column(3);
    list-style-type: none;
    margin: 0;
    padding: 0;

    h3 {
      @include footer-headings-font;
    }

    li a {
      @include footer-links-font;
    }
  }
}
